@use 'src/styles/margins';

.quizAchievement {
  margin-bottom: 60px;
  width: calc((((100vw - #{margins.$borderDesktop} * 2) / 2) -60px));
  //width: calc((((100vw - #{margins.$borderDesktop} * 2) -120px) / 2));
  //margin-right: 60px;

  &__quizTitle {
    margin-bottom: 20px;
  }

  &__frame {
    background-color: rgba($color: #000000, $alpha: 0.5);
    border: 2px solid rgba($color: #ffffff, $alpha: 0.5);
    padding: 60px;
    display: flex;
  }

  &__iconDiv {
    height: 80px;
    width: 80px;
    // linked to frame padding
    margin-right: 60px;
    position: relative;
    
    &__withBorders, &__withoutBorders {
      position: absolute;
      top: 0;
      right: 0;
      transform-origin: center;
    }
  }
}
