@use 'src/styles/fontSizes';

.titleCategory {
  font-size: fontSizes.$titleS2Desktop;
  letter-spacing: fontSizes.$titleS2KerningDesktop;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}
