.icon {
  display: block;
  margin: auto;

  &__strokes {
    fill-opacity: 0.25;
  }

  &__strokes--inverse {
    fill-opacity: 1;
  }

  &__transparentPart {
    fill-opacity: 0.5;
  }

  &__transparentPart {
    fill-opacity: 0.5;
    &--inverse{
      fill-opacity: 0.25;
    }
  }

  &__smallPart--inverse {
    fill-opacity: 0;
  }

  &__backgroundColor {
    fill: #00FFFF;
    fill-opacity: 0;
    //fill-opacity: 0.25;
  }
  &__rotatePart, &__rotatePart--inverse {
    transform-origin: center;
  }

}
