.icon {
  display: block;
  margin: auto;

  &__strokes {
    fill-opacity: 0.25;
  }

  &__strokes--inverse {
    fill-opacity: 1;
  }

  &__transparentPart {
    fill-opacity: 0.5;
  }

  &__transparentPart {
    fill-opacity: 0.5;
    &--inverse{
      fill-opacity: 0.25;
    }
  }

  &__smallPart--inverse {
    fill-opacity: 0;
  }

  &__backgroundColor {
    fill-opacity: 0.25;
    &--positive {
      fill: #00FFFF;
    }
    &--negative {
      fill: #EB00FF;
    }
  }
  &__rotatePart, &__rotatePart--inverse {
    transform-origin: center;
  }

}
