@use 'src/styles/margins';
@use 'src/styles/breakpoints';
@use 'src/styles/fontSizes';
@use 'src/styles/zindex';

.menu {
  position: fixed;
  left: margins.$outsideBorderMobile;
  // value substracted linked to the css on the linkMenu Component
  bottom: calc(#{margins.$outsideBorderMobile} - 3.5vh);

  &__border {
    border: 4px solid rgba($color: #ffffff, $alpha: 0.07);
    z-index: zindex.$menu;
    margin: margins.$outsideBorderMobile;
    width: margins.$widthOutsideBorderMobile;
    height: margins.$heightOutsideBorderMobile;
    position: fixed;
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  &__language {
    position: fixed;
    width: calc(100vw - #{margins.$outsideBorderMobile} * 2 - 60px);
    top: 40px;
    display: flex;
    justify-content: center;
    &__english, &__french {
      color: rgba($color: #ffffff, $alpha: 0.25);
      text-transform: uppercase;
      font-weight: bold;
      font-size: fontSizes.$menuSmallMobile;
      font-kerning: fontSizes.$menuSmallKerningMobile;
    }
    &--active {
      color: white !important;
    } 
    &__english {
      margin-right: 20px;
    }
    &__french {
      margin-left: 20px; 
    }
  }
}

@media only screen and (min-width: breakpoints.$desktop) {
  .menu {
    left: margins.$outsideBorderDesktop;
    // value substracted linked to the css on the linkMenu Component
    bottom: calc(#{margins.$outsideBorderDesktop} - 3.5vh);
  &__border { 
    margin: margins.$outsideBorderDesktop;
    width: margins.$widthOutsideBorderDesktop;
    height: margins.$heightOutsideBorderDesktop; 
  }
  &__language {
    display: none;
  }
}
}
