@use 'src/styles/margins';
@use 'src/styles/breakpoints';

.quiz {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: breakpoints.$desktopBigger) {

  .quiz {
    flex-wrap: nowrap;
  }

}
