@use 'src/styles/fontSizes';

.formQuestion {
  border: 2px solid rgba(255,255,255,.25);
  background-color: rgba(0,0,0,.25);
  padding: 80px;
  margin-right: 80px;
  width: 50%;

  &__text {
    font-size: fontSizes.$labelS1Desktop;
    letter-spacing: fontSizes.$labelS1KerningDesktop;
  }

  &__instruction {
    font-size: fontSizes.$textDesktop;
    letter-spacing: fontSizes.$textKerningDesktop;
    margin-bottom: 40px;
  }
}
