@use 'src/styles/margins';
@use 'src/styles/breakpoints';
@use 'src/styles/zindex';


.frame{
  z-index: zindex.$frame;

  &__corner{

    &--topRight, &--topLeft, &--bottomRight, &--bottomLeft {
      position: fixed;
    }
    &--topRight {
      top: margins.$outsideBorderMobile;
      right: margins.$outsideBorderMobile;
      display: none;
    }
    &--topLeft {
      top: margins.$outsideBorderMobile;
      left: margins.$outsideBorderMobile;
    }
    &--bottomRight {
      bottom: margins.$outsideBorderMobile;
      right: margins.$outsideBorderMobile;
    }
    &--bottomLeft {
      bottom: margins.$outsideBorderMobile;
      left: margins.$outsideBorderMobile;
    }
  }

}

@media only screen and (min-width: breakpoints.$desktop) {
  
.frame{

  &__corner{
    &--topRight {
      top: margins.$outsideBorderDesktop;
      right: margins.$outsideBorderDesktop;
      display: block;
    }
    &--topLeft {
      top: margins.$outsideBorderDesktop;
      left: margins.$outsideBorderDesktop;
    }
    &--bottomRight {
      bottom: margins.$outsideBorderDesktop;
      right: margins.$outsideBorderDesktop;
    }
    &--bottomLeft {
      bottom: margins.$outsideBorderDesktop;
      left: margins.$outsideBorderDesktop;
    }
  }
}
}
