@use 'src/styles/margins';
@use 'src/styles/breakpoints';


.frame{
  z-index: -10;

  &__corner{

    &--topRight, &--topLeft, &--bottomRight, &--bottomLeft {
      position: fixed;
    }
    &--topRight {
      top: margins.$outsideBorderMobile;
      right: margins.$outsideBorderMobile;
    }
    &--topLeft {
      top: margins.$outsideBorderMobile;
      left: margins.$outsideBorderMobile;
    }
    &--bottomRight {
      bottom: margins.$outsideBorderMobile;
      right: margins.$outsideBorderMobile;
    }
    &--bottomLeft {
      bottom: margins.$outsideBorderMobile;
      left: margins.$outsideBorderMobile;
    }
  }

}

@media only screen and (min-width: breakpoints.$desktop) {
  
.frame{
  margin: margins.$outsideBorderDesktop;
  width: margins.$widthOutsideBorderDesktop;
  height: margins.$heightOutsideBorderDesktop;

  &__corner{
    &--topRight {
      top: margins.$outsideBorderDesktop;
      right: margins.$outsideBorderDesktop;
    }
    &--topLeft {
      top: margins.$outsideBorderDesktop;
      left: margins.$outsideBorderDesktop;
    }
    &--bottomRight {
      bottom: margins.$outsideBorderDesktop;
      right: margins.$outsideBorderDesktop;
    }
    &--bottomLeft {
      bottom: margins.$outsideBorderDesktop;
      left: margins.$outsideBorderDesktop;
    }
  }
}
}
