@use 'src/styles/margins';
@use 'src/styles/breakpoints';


.frame{
  position: fixed;
  margin: margins.$outsideBorderMobile;
  width: margins.$widthOutsideBorderMobile;
  height: margins.$heightOutsideBorderMobile;
  z-index: -10;

  &__corner{

    &--topRight {
      position: absolute;
      top: 0;
      right: 0;
    }
    &--bottomRight {
      transform: rotate(180deg);
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &--bottomLeft {
      transform: rotate(270deg);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

}

@media only screen and (min-width: breakpoints.$desktop) {
.frame{

  margin: margins.$outsideBorderDesktop;
  width: margins.$widthOutsideBorderDesktop;
  height: margins.$heightOutsideBorderDesktop;

}
}
