@use 'src/styles/margins';

// transitions properties
// G => general / global
$tDurationG: 0.25s;
$tTimingFG: ease-in-out;

// dimensions (made in variables because they are used both in regular mode
// and in hover mode (so changing one can break the hover mode)
// names used are those of the components it is used for
$dSubmitButtonPadding: 15px;
$dSubmitButtonBorder: 1.5px;

$dLinkCTAMarginRight: calc((100vw - #{margins.$borderDesktop}) / 16);
$dLinkCTAWidth: calc(((100vw - #{margins.$borderDesktop}) / 16) * 3);
