@use 'src/styles/breakpoints';

// desktop
$titleS1Desktop: 120px;
$titleS1KerningDesktop: -9px;
// mobile
$titleS1Mobile: 14vw;
$titleS1KerningMobile: -0.8vw;

// desktop
$titleS2Desktop: 90px;
$titleS2KerningDesktop: -6px;
// mobile
$titleS2Mobile: 9vw;
$titleS2KerningMobile: -0.5vw;

//desktop
$menuDesktop: 7vh;
$menuKerningDesktop: -4px;
$menuTriangleDesktop: 5vh;
// mobile
$menuMobile: 12vw;
$menuKerningMobile: -0.8vw;
$menuTriangleMobile: 10vw;

// desktop
$labelS1Desktop: 30px;
$labelS1KerningDesktop: -1.5px;
// mobile
$labelS1Mobile: 20px;
$labelS1KerningMobile: -0.5px;

// desktop
$labelS2Desktop: 20px;
$labelS2KerningDesktop: -0.5px;
// mobile
$labelS2Mobile: 16px;
$labelS2KerningMobile: 0px;

// desktop
$textDesktop: 14px;
$textKerningDesktop: 0px;
$textSpacingDesktop: 18px;
// mobile
$textMobile: 15px;
$textKerningMobile: 0px;
$textSpacingMobile: 19px;
