
$titleS1Desktop: 120px;
$titleS1KerningDesktop: -9px;

$titleS2Desktop: 90px;
$titleS2KerningDesktop: -6px;

$menuDesktop: 70px;

$labelS1Desktop: 30px;
$labelS1KerningDesktop: -1.5px;

$labelS2Desktop: 20px;
$labelS2KerningDesktop: -0.5px;

$textDesktop: 14px;
$textKerningDesktop: 0px;
$textSpacingDesktop: 18px;
