
// desktop
$titleS1Desktop: 120px;
$titleS1KerningDesktop: -9px;
// mobile
$titleS1Mobile: 50px;
$titleS1KerningMobile: -4px;

// desktop
$titleS2Desktop: 90px;
$titleS2KerningDesktop: -6px;

$menuDesktop: 70px;

// desktop
$labelS1Desktop: 30px;
$labelS1KerningDesktop: -1.5px;
// mobile
$labelS1Mobile: 20px;
$labelS1KerningMobile: -0.5px;

// desktop
$labelS2Desktop: 20px;
$labelS2KerningDesktop: -0.5px;
// mobile
$labelS2Mobile: 16px;
$labelS2KerningMobile: 0px;

// desktop
$textDesktop: 14px;
$textKerningDesktop: 0px;
$textSpacingDesktop: 18px;
// mobile
$textMobile: 16px;
$textKerningMobile: 0px;
$textSpacingMobile: 18px;
