// margins at the border of the document (at the very extremity)
$outsideBorderDesktop: 60px;
$outsideBorderMobile: 20px;
// 100% of the width and height minus the margins
$widthOutsideBorderDesktop: calc(100vw - 120px);
$widthOutsideBorderMobile: calc(100vw - 40px);
$heightOutsideBorderDesktop: calc(100vh - 120px);
$heightOutsideBorderMobile: calc(100vh - 40px);
// margins including the outside border, space for the menu and additional margin
$borderDesktop: 180px;
$borderMobile: 40px;
// 100 % of the width and the height, minus the margin that includes
// safe space around the menu buttons
$heightBorderDesktop: calc(100vh - 360px);
$heightBorderMobile: calc(100vh - 80px);

