.app__threeJs {
    animation: threeJsFilter 9s linear infinite;
}

.app__threeJS--animationIntro {
      animation: introThreeJsFilter 0.5s ease-in-out 1;
}

@keyframes introThreeJsFilter {
  0% {
    filter: blur(25px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes threeJsFilter {
  0% {
    filter: brightness(1.5);
  }
  50% {
    filter: brightness(2.5);
  }
  100% {
    filter: brightness(1.5);
  }
}
