@use 'src/styles/fontSizes';
@use 'src/styles/breakpoints';
@use 'src/styles/margins';

.titleCategory {
  font-size: fontSizes.$titleS2Mobile;
  letter-spacing: fontSizes.$titleS2KerningMobile;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
  &--noMarginBottom {
    margin-bottom: 0px;
  }
  /*&--sticky {
    position: sticky;
    background-color: black;
    border: 4px solid white;
    margin-left: margins.$borderDesktop;
    //!\\ causes bug if put a value that is inferior to 0.1px
    top: 0.1px;
    //!\\ causes bug if put a value that is inferior to 0.1px
    padding-top: calc(#{margins.$outsideBorderDesktop} - 10px);
    padding-bottom: 40px;
    padding-left: 40px;
    z-index: 5;
    margin-bottom: 0px;
  }*/
}

@media only screen and (min-width: breakpoints.$desktop) {
.titleCategory {
  font-size: fontSizes.$titleS2Desktop;
  letter-spacing: fontSizes.$titleS2KerningDesktop;
  margin-bottom: 40px;
  &--noMarginBottom {
    margin-right: 40px;
    margin-bottom: 0px;
  }
}
}
