@use 'src/styles/animations';
@use 'src/styles/breakpoints';

@media only screen and (min-width: breakpoints.$desktop) {
  .checkboxAnswer:hover input ~ .checkboxAnswer__checkmark {
    transition-duration: animations.$tDurationG;
    transition-timing-function: animations.$tTimingFG;
    border: 4px solid white;
  }
}
