@use 'src/styles/breakpoints';

.categoryAchievement {
margin-bottom: 120px;
  &__category{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 60px;
  }

  &__quizContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media only screen and (min-width: breakpoints.$desktop) {
  .categoryAchievement {
      &__category{
        flex-direction: row;

      }
    }
}
