@use 'src/styles/animations';

.header {
  transition-duration: animations.$tDurationG;
  transition-timing-function: animations.$tTimingFG;

  &__language {
    &__english, &__french {
      &:hover {
        transition-duration: animations.$tDurationG;
        transition-timing-function: animations.$tTimingFG;
        color: white;
        border-bottom: 1px solid white;
      }
    }
  }

&__buttonTL:hover .header,  &__buttonTR:hover .header {

  &__corners, &__mainStrokes {
    transition-duration: animations.$tDurationG;
    transition-timing-function: animations.$tTimingFG;
  }  
  &__corners {
  opacity: 0.25;
  }
  &__mainStrokes {
    opacity: 0.75;
  }
}
&__buttonTL:active .header,  &__buttonTR:active .header {

  &__corners, &__mainStrokes {
    transition-duration: animations.$tDurationG;
    transition-timing-function: animations.$tTimingFG;
    opacity: 0.1;
  }  
}

}
