@use 'src/styles/animations';
@use 'src/styles/breakpoints';

@media only screen and (min-width: breakpoints.$desktop) {
.header {
  transition-duration: animations.$tDurationG;
  transition-timing-function: animations.$tTimingFG;

  &__language {
    &__english, &__french {
      &:hover {
        transition-duration: animations.$tDurationG;
        transition-timing-function: animations.$tTimingFG;
        color: white;
        border-bottom: 1px solid white;
      }
    }
  }

}
}
