@use 'src/styles/margins';
@use 'src/styles/fontSizes';
@use 'src/styles/breakpoints';

// to remember => DO NOT use div to position elements in the header
// otherwise blocks the other elements under it
// (even if a background is transparent, if its z-index is above the other one
// the elements under will not ba clickable

.header {

  opacity: 1;

  &__blackbox {
    position: fixed;
    width: 100vw;
    height: margins.$outsideBorderMobile;
    left: 0;
    z-index: 20;

    &--top {
      top: 0;
      background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
    }

    &--bottom {
      bottom: 0;
      background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    }
  }

  &__languages {
    display: none;
  }

  &__buttonTL, &__buttonTR {
    position: fixed;
    top: margins.$outsideBorderMobile;
    z-index: 20;
  }

  &__buttonTL {
    right: margins.$outsideBorderMobile;
    //right: 0;
  }
  
  &__svgTL, &__svgTR, &__username {
    pointer-events: none;
  }
  &__svgTR, &__username {
    display: none;
  }
}

@media only screen and (min-width: breakpoints.$desktop) {
  .header {

    &__blackbox {
      height: 0;
      width: 0;
      display: none;
    }

    &__language {
      //transform: rotate(-90deg) translate(-50%, -50%);
      &, & button {
        color: rgba($color: #ffffff, $alpha: 0.25);
        text-transform: uppercase;
        font-weight: bold;
        font-size: fontSizes.$menuSmallDesktop;
        font-kerning: fontSizes.$menuSmallKerningDesktop;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0);
      }

      &--active {
        color: white !important;
      } 
      display: block;
      position: fixed;
      transform: rotate(-90deg);
      //background-color: red;
      top: 50vh;

      &__english {
        margin-right: 20px;
      }
      &__french {
        margin-left: 20px;
        
      }
    }

    &__buttonTL, &__buttonTR {
      top: margins.$outsideBorderDesktop;
    }
  
    &__buttonTL {
      left: margins.$outsideBorderDesktop;
    }
  
    &__buttonTR {
      right: margins.$outsideBorderDesktop;
    }
  
    &__svgTR, &__username {
      display: block;
    }

    &__username {
      font-size: fontSizes.$labelS2Desktop;
      font-weight: bold;
      
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
    }
  }
}
