@use 'src/styles/margins';
@use 'src/styles/breakpoints';
@use 'src/styles/fontSizes';
@use 'src/styles/zindex';

.about {
  padding: margins.$borderMobile;
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.925);
  z-index: zindex.$about;
  position: absolute;

  &__section { 
    margin-top: 60px;
    &__title {
      font-size: fontSizes.$titleS3Mobile;
      letter-spacing: fontSizes.$titleS3KerningMobile;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 20px;
    }
    &__text {
      font-size: fontSizes.$textMobile;
      letter-spacing: fontSizes.$textKerningMobile;
      line-height: fontSizes.$textSpacingMobile;
      margin-bottom: 40px;
    }
  }
}

@media only screen and (min-width: breakpoints.$desktop) {
  .about {
    position: fixed;
    padding: margins.$borderDesktop;
    position: fixed;
  
    &__section { 
      width: 50vw;
      margin-top: 0;
      &__title {
        font-size: fontSizes.$titleS3Desktop;
        letter-spacing: fontSizes.$titleS3KerningDesktop;
        margin-bottom: 20px;
      }
      &__text {
        font-size: fontSizes.$textDesktop;
        letter-spacing: fontSizes.$textKerningDesktop;
        line-height: fontSizes.$textSpacingDesktop;
        margin-bottom: 80px;
      }
    }
  }
}
