
// min width 992px
@media only screen and (min-width: 99px) {
.home {

  &__subtitle {
    // 16 columns => put 6 columns of margin
    // (100vw / 16) * 6
    margin-left: 37.5%;
    font-size: 30px;
    letter-spacing: -1.5px;
    font-weight: normal;
    text-transform: none;
  }

  &__title {
    // 16 columns => put 8 columns of margin
    // (100vw / 16) * 8
    margin-left: 50%;
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -9px;
  }

  &__getStarted {
    // 16 columns => put 11 columns of margin
    // (100vw / 16) * 11
    margin-left: 68.75%;
    margin-top: 60px;
    display: inline-block;
  }

}
}
