.loading {
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.85);
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  // size of the div linked to the animation
  // in the other file
  &__svgContainer {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__comment {
    margin-top: 40px;
  }
}
