@use 'src/styles/fontSizes';
@use 'src/styles/margins';
@use 'src/styles/breakpoints';

.home {
  height: margins.$heightBorderMobile;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: fontSizes.$titleS1Mobile;
    letter-spacing: fontSizes.$titleS1KerningMobile;
    display: block;
  }
  &__subtitle {
    font-weight: normal;
    text-transform: none;
    font-size: fontSizes.$labelS1Mobile;
    letter-spacing: fontSizes.$labelS1KerningMobile;
    display: block;
  }
  &__getStarted {
    margin-top: 40px;
  }
}

@media only screen and (min-width: breakpoints.$desktop) {
.home {
  height: margins.$heightBorderDesktop;
  padding-top: 10vh;

  &__subtitle {
    // columns margin
    margin-left: calc(((100vw - #{margins.$borderDesktop}) / 16) * 1);
    grid-column-start: span 9;
    font-size: fontSizes.$labelS1Desktop;
    letter-spacing: fontSizes.$labelS1KerningDesktop;
  }

  &__title {
    // columns margin
    margin-left: calc(((100vw - #{margins.$borderDesktop}) / 16) * 2);
    grid-column-start: span 7;
    font-size: fontSizes.$titleS1Desktop;
    letter-spacing: fontSizes.$titleS1KerningDesktop;
  }

  &__getStarted {
    // columns margin
    margin-left: calc(((100vw - #{margins.$borderDesktop}) / 16) * 6);
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}
}
