@use 'src/styles/fontSizes';
@use 'src/styles/margins';
@use 'src/styles/breakpoints';

.home {
  height: margins.$heightBorderMobile;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: fontSizes.$titleS1Mobile;
    letter-spacing: fontSizes.$titleS1KerningMobile;
    display: block;
  }
  &__subtitle {
    font-weight: normal;
    text-transform: none;
    font-size: fontSizes.$labelS1Mobile;
    letter-spacing: fontSizes.$labelS1KerningMobile;
    display: block;
  }
  &__getStarted {
    margin-top: 40px;
  }

  &__threeJs {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
  }
}

@media only screen and (min-width: breakpoints.$desktop) {
.home {
  height: margins.$heightBorderDesktop;
  padding-top: 10vh;

  &__subtitle {
    // 16 columns => put 4 columns of margin
    // (100vw / 16) * 4
    margin-left: 25%;
    grid-column-start: span 9;
    font-size: fontSizes.$labelS1Desktop;
    letter-spacing: fontSizes.$labelS1KerningDesktop;
  }

  &__title {
    // 16 columns => put 5 columns of margin
    // (100vw / 16) * 5
    margin-left: 31.25%;
    grid-column-start: span 7;
    font-size: fontSizes.$titleS1Desktop;
    letter-spacing: fontSizes.$titleS1KerningDesktop;
  }

  &__getStarted {
    // 16 columns => put 10 columns of margin
    // (100vw / 16) * 10
    margin-left: 62.5%;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}
}
