@use 'src/styles/breakpoints';
@use 'src/styles/animations';

@media only screen and (min-width: breakpoints.$desktop) {

.linkMenu {

  transition-duration: animations.$tDurationG;
  transition-timing-function: animations.$tTimingFG;

&:hover &__triangle {
  fill: white;
}

&--margin1:hover {
  width: 70%;
}

&--margin2:hover, &:last-child:hover {
  width: 55%;
}

}

}
