@use 'src/styles/fontSizes';

.navLinkButton {
  width: 60%;
  font-size: fontSizes.$menuDesktop;
  text-transform: uppercase;
  text-align: right;
  border-bottom: 1px solid white;
  margin: 2rem;
  padding: 1rem;
  
}

.link__triangle {
  display: inline-block;
  margin-left: 15px;
  height: 20px;
}

.navLinkButton--margin2 {
  display: block;
  width: calc(60%-200px);
}


