@use 'src/styles/fontSizes';
@use 'src/styles/breakpoints';
@use 'src/styles/margins';

.linkMenu {
  font-weight: bold;
  font-size: fontSizes.$menuMobile;
  letter-spacing: fontSizes.$menuKerningMobile;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 2vh;
  margin-bottom: 5vh;
  border-bottom: 4px solid white;
  width: calc(#{margins.$widthOutsideBorderMobile} - 5px);
  &__triangle {
    margin-left: 3vh;
    height: fontSizes.$menuTriangleMobile;
    stroke-width: 1.6px;
  }

}

@media only screen and (min-width: breakpoints.$desktop) {
  .linkMenu {
    font-size: fontSizes.$menuDesktop;
    letter-spacing: fontSizes.$menuKerningDesktop;
    // takes 13 columns of the grid
    width: calc(((100vw - #{margins.$borderDesktop}) / 16) * 13);

  &__triangle {
    height: fontSizes.$menuTriangleDesktop;
  }

  &--margin2 {
    // takes 10 columns of the grid
    width: calc(((100vw - #{margins.$borderDesktop}) / 16) * 10);
  }
  }
}
