@use 'src/styles/margins';

.register {
  width: 50%;
  margin: 0 auto;
  padding-top: 160px;
  min-height: 100vh;

  &__login {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__firstColumn {
    grid-column-start: 2;
  }
  &__secondColumn {
    grid-column-start: 4;
  }
  &__submitButton {
    margin-top: 40px;
  }
}
