@use 'src/styles/margins';

.register, .login, .settings {
  width: 50%;
  margin: 0 auto;
  padding-top: 160px;
  min-height: 100vh;

  &__login {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__columns {
    display: grid;
  grid-template-columns: 1fr 80px 1fr;
  }

  &__firstColumn {
    grid-column-start: 1;
  }
  &__secondColumn {
    grid-column-start: 3;
  }
  &__submitButton {
    margin-top: 40px;
  }
}

.settings {
  padding-bottom: 80px;

  &__buttonS1 {
    margin-top: 40px;
  }

  &__buttonS2 {
    margin-bottom: 40px;
  }
}
