@use 'src/styles/margins';
@use 'src/styles/breakpoints';
@use 'src/styles/fontSizes';

.register, .login{
  padding: 120px margins.$outsideBorderMobile 0 margins.$outsideBorderMobile;
}

.settings {
  padding: 40px margins.$outsideBorderMobile 0 margins.$outsideBorderMobile;

}

.register, .login, .settings {
  margin: 0 auto;
  min-height: 100vh;

  &__error {
    font-size: fontSizes.$textDesktop;
    letter-spacing: fontSizes.$textKerningDesktop;
    line-height: fontSizes.$textSpacingDesktop;
  }

  &__login {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  &__columns {
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    flex: 1;
    min-width: 200px;
    margin-right: 40px;
  }

  &__submitButton {
    margin-top: 40px;
  }
  
}

.settings {
  padding-bottom: 80px;

  &__buttonS1 {
    margin-top: 40px;
  }

  &__buttonS2 {
    margin-bottom: 40px;
  }
}

.submitButton {
  &--hidden {
    visibility: hidden;
  }
  &--visible {
    visibility: visible;
  }
}

.inputText {

  &--label-password {
  position: relative;
  }

 &--input-password {
  display: block;
  }

 &--show-password {
  cursor: pointer;
  position: absolute;
  bottom: 14px;
  height: 20px;
  right: -30px;
  background: #3b3b42;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8em;
  &-1 {
    cursor: pointer;
    background: #3b3b42;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.8em;
    }
  }


  



 &--strength-password {
  position: absolute;
  width: 0%;
  height: 5px;
  bottom: -8px;
  left: 0;
  background: transparent;
  transition: all 300ms ease-in-out;
  }

 &--strength-password[data-score="null"] {
  width: 0;
  background: red;
  }

 &--strength-password[data-score="0"] {
  width: 5%;
  background: #f44336;
  }

 &--strength-password[data-score="1"] {
  width: 25%;
  background: #f44336;
  }

 &--strength-password[data-score="2"] {
  width: 50%;
  background: #ffeb3b;
  }

 &--strength-password[data-score="3"] {
  width: 75%;
  background: #4caf50;
  }

 &--strength-password[data-score="4"] {
  width: 100%;
  background: #4caf50;
  } 
}

@media only screen and (min-width: breakpoints.$desktop) {
  .register, .login, .settings {
    width: 50vw;
    padding: margins.$borderDesktop 0 0 0;

    &__column {
      margin-right: 80px;
    }
  }

 .settings {
    width: 50vw;
    padding: margins.$borderDesktop 0 margins.$borderDesktop 0;
  }
}
