@use 'src/styles/fontSizes';

.titlePage {
  font-size: fontSizes.$titleS1Desktop;
  letter-spacing: fontSizes.$titleS1KerningDesktop;
  text-align: right;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 120px;

  &__subtile{
    font-size: fontSizes.$labelS1Desktop;
  letter-spacing: fontSizes.$labelS1KerningDesktop;
  font-weight: normal;
    text-transform: none;
    display: block;
  }
}
