@use 'src/styles/fontSizes';
@use 'src/styles/breakpoints';

.titlePage {
  text-align: right;
  font-weight: bold;
  text-transform: uppercase;
  font-size: fontSizes.$titleS1Mobile;
  letter-spacing: fontSizes.$titleS1KerningMobile;
  margin: 80px 0 40px 0;

  &__subtile{
    font-size: fontSizes.$labelS1Mobile;
    letter-spacing: fontSizes.$labelS1KerningMobile;
    font-weight: normal;
    text-transform: none;
    display: block;
  }
}

@media only screen and (min-width: breakpoints.$desktop) {
  .titlePage {
    font-size: fontSizes.$titleS1Desktop;
    letter-spacing: fontSizes.$titleS1KerningDesktop;
    margin-bottom: 120px;
  
    &__subtile{
      font-size: fontSizes.$labelS1Desktop;
      letter-spacing: fontSizes.$labelS1KerningDesktop;
    }
  }
}
