@use 'src/styles/fontSizes';

.titlePage {
  font-size: fontSizes.$titleS1Desktop;
  letter-spacing: fontSizes.$titleS1KerningDesktop;
  text-align: right;
  font-weight: bold;
  text-transform: uppercase;
}
