@use 'src/styles/animations';

.linkButton, .submitButton {

  transition-duration: animations.$tDurationG;
  transition-timing-function: animations.$tTimingFG;

  &:hover, &:hover &__triangle {
    transition-duration: animations.$tDurationG;
  }

  &:hover {
    padding-left: 45px;
  }

  &:hover &__triangle {
    fill: white;
  }

  &:active {
    border-bottom: animations.$dSubmitButtonBorder solid rgba($color: #ffffff, $alpha: 0.05);
    color: rgba($color: #ffffff, $alpha: 0.05);
  }

  &:active &__triangle {
    fill: rgba($color: #ffffff, $alpha: 0.05);
    stroke-width: 0.5px;
  }

}

.submitButton {
  &:hover {
    border: animations.$dSubmitButtonBorder solid white;
    padding: animations.$dSubmitButtonPadding;
    padding-left: 45px;
  }
}
