.categoryQuiz {
  
  &__groupLinks {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
  }
  &__linkCTA {
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 3;
    grid-column-end: 15;
    display: grid;
    grid-template-columns: repeat(3, 4fr);
  }
}
