@use 'src/styles/animations';
@use 'src/styles/breakpoints';

@media only screen and (min-width: breakpoints.$desktop) {
.linkCTA {
  
  // need the hover to be on the parent, otherwise will
  // only work if you go over the element itself
  &:hover .linkCTA, .linkCTA {
    &__borders, &__triangle, &__iconDiv, &__label {
    // need to put the animation transition on the element itself
    // otherwise not taken into account
    // + needs to put it on the hover state and the normal state
    // if want thhe exit hover state to also have a transition 
    transition-duration: animations.$tDurationG;
    transition-timing-function: animations.$tTimingFG;
    &__frame, &__borders, &__text {
    transition-duration: animations.$tDurationG;
    transition-timing-function: animations.$tTimingFG;
    }
    }
  }

  &:hover .linkCTA {
    &__iconDiv {
      &__frame {
       transform: rotate(45deg);
      }
      &__borders {
        opacity: 0;
      }
    }
  
    &__triangle {
     fill: white;
    }
  
    &__label {
      margin-left: calc(#{animations.$dLinkCTALabelMarginLeft} + 20px); 
      &__text {
        border-bottom: 1.5px solid white;
        padding-bottom: 10px;
      }
    }

  }

}
}
