@use 'src/styles/animations';
@use 'src/styles/breakpoints';

@media only screen and (min-width: breakpoints.$desktop) {
.linkCTA {

  &:hover {
    transition-duration: animations.$tDurationG;
    transition-timing-function: animations.$tTimingFG;

    
  }
  
  &:hover .linkCTA {
    &__borders, &__triangle, &__iconDiv, &__label {
    // need to put the animation transition on the element itself
    // otherwise not taken into account
    transition-duration: animations.$tDurationG;
    transition-timing-function: animations.$tTimingFG;
    &__frame, &__borders, &__text {
    transition-duration: animations.$tDurationG;
    transition-timing-function: animations.$tTimingFG;
    }
    }

    &__iconDiv {
      &__frame {
       transform: rotate(45deg);
      }
      &__borders {
        opacity: 0;
      }
    }
  
    &__triangle {
     fill: white;
    }
  
    &__label {
      margin-left: calc(#{animations.$dLinkCTALabelMarginLeft} + 20px); 
      &__text {
        border-bottom: 1.5px solid white;
        padding-bottom: 10px;
      }
    }

  }

}
}
