@use 'src/styles/animations';
@use 'src/styles/breakpoints';

@media only screen and (min-width: breakpoints.$desktop) {
.linkCTA {

  &:hover {
    transition-duration: animations.$tDurationG;
    transition-timing-function: animations.$tTimingFG;

    //!\\ WARNING css class from other component

    & .icon {
      &__transparentPart {
        animation: pulseTransparentPart 3s infinite;
        //animation-timing-function: ease-in-out;
      }
      &__transparentPart--inverse {
        animation: pulseTransparentPartInverse 3s infinite;
      }
      &__smallPart {
        animation: pulseSmallPart 3s infinite;
      }
      &__smallPart--inverse {
        animation: pulseSmallPartInverse 3s infinite;
      }
      &__rotatePart {
        animation: rotatePart 3s infinite;
      }
      &__rotatePart--inverse {
        animation: rotatePartInverse 3s infinite;
      }
    }

    //!\\ end of warning
  }
  
  &:hover .linkCTA {
    &__borders, &__triangle, &__iconDiv, &__label {
    // need to put the animation transition on the element itself
    // otherwise not taken into account
    transition-duration: animations.$tDurationG;
    transition-timing-function: animations.$tTimingFG;
    &__frame, &__borders {
    transition-duration: animations.$tDurationG;
    transition-timing-function: animations.$tTimingFG;
    }
    }

    &__iconDiv {
      &__frame {
       transform: rotate(45deg);
      }
      &__borders {
        opacity: 0;
      }
    }
  
    &__triangle {
     fill: white;
    }
  
    &__label {
      margin-left: calc(#{animations.$dLinkCTALabelMarginLeft} + 20px); 
      &__text {
        border-bottom: 1.5px solid white;
        padding-bottom: 10px;
      }
    }

  }

}
}

@keyframes pulseTransparentPart {
  0% {
    fill-opacity: 0.5;
  }
  50% {
    fill-opacity: 0.25;
  }
  100% {
    fill-opacity: 0.5;
  }
}

@keyframes pulseTransparentPartInverse {
  0% {
    fill-opacity: 0.25;
  }
  50% {
    fill-opacity: 0.5;
  }
  100% {
    fill-opacity: 0.25;
  }
}

@keyframes pulseSmallPart {
  0% {
    fill-opacity: 1;
  }
  50% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}

@keyframes pulseSmallPartInverse {
  0% {
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0;
  }
}

@keyframes rotatePart {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotatePartInverse {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
