.buttonBig {
  display: inline-block;
  font-size: 20px;
  border-bottom: 1.5px solid white;
  padding-bottom: 15px;
  margin-bottom: 20px;

  &__triangle {
    display: inline-block;
    margin-left: 15px;
  }
}

.buttonBig:hover, .triangle:hover {
  fill: white;
  stroke: red;
}
